*{
	
	text-align: center;
	background-color: #46C9FE;
	
}

h1{
	
	font-family: Impact;
	
}

h2{
	
	color: #FFFF00;
	background-color: #0101C5;	
 
	
}

.publicacion {
	
	background-color: #0000FF;	
	width: 25%;
	margin-top: +25px;   
    margin-left: +580px;

}

p{
		font-weight: bold;
		color: #A6C732;
		background-color: #0000FF;	
	
}
h3{
	
	background-color: #0000FF;	
	 
}


hr{
	
  background-color: #0101C5;
  height: 5px;
  
	
}

img{
	
	width: 200px; height: 200px;
	
}