*{
	
	text-align: center;
	background-color: #46C9FE;
	
}

body{
	
	
	
}

h1{
	
	font-family: Impact;
	
}

h2{
	
	color: yellow;
	background-color: blue;	
	
}

h3{
	
	
	
}

hr{
	
	height: 3px;
	color: green;
	
}

img{
	
	width: 200px; height: 200px;
	
}